@model Beckaroo_NetCore.Models.Blog

@{
    ViewData["Title"] = "Blog Details";
}

<div class="container BodyContainer">
    <h1>Blog Details</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.BlogID" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.BlogID" class="btn btn-warning">Delete</a>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</div>
