@model IEnumerable<Beckaroo_NetCore.Models.Blog>

@{
    ViewData["Title"] = "Blogs";
}

<div class="container BodyContainer">

    <h1>Blogs</h1>

    <a asp-controller="Animals" asp-action="Index" class="btn btn-secondary navButton">To Animals</a>
    <a asp-action="CreateBlog" class="btn btn-success navButton">New Post</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BlogID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var blog in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => blog.BlogID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => blog.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => blog.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => blog.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => blog.Image)
                </td>
                <td>
                    <a asp-action="EditBlog" asp-route-id="@blog.BlogID" class="btn btn-outline-dark btn-sm">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>