@model IEnumerable<Beckaroo_NetCore.Models.Animal>

@{
    ViewData["Title"] = "The Zoo";
}

<div class="container BodyContainer">
    <h1>The Zoo</h1>
    <p>Here are all the animals in the Zoo. Click on their pictures to find out more about them!</p>

    <h3>Canines</h3>
    <div class="row AnimalSection">
        @foreach (var dog in Model.Where(dog => dog.Species == "Canine"))
        {
            <div class="col-md-6 col-lg-4">
                <a href="#@dog.Name" class="ZooAnimal" onclick="AnimalModal(@dog.AnimalID)">
                    <img class="StandardImage" src="~/images/animal/@dog.ImageMain" alt="@dog.ImageMainAlt">
                    <h3 class="AnimalName">@dog.Name</h3>
                </a>
            </div>
        }
    </div>
    <h3>Felines</h3>
    <div class="row AnimalSection">
        @foreach (var cat in Model.Where(cat => cat.Species == "Feline"))
        {
            <div class="col-md-6 col-lg-4">
                <a href="#@cat.Name" class="ZooAnimal" onclick="AnimalModal(@cat.AnimalID)">
                    <img class="StandardImage" src="~/images/animal/@cat.ImageMain" alt="@cat.ImageMainAlt">
                    <h3 class="AnimalName">@cat.Name</h3>
                </a>
            </div>
        }
    </div>
    <h3>Everybody Else</h3>
    <div class="row AnimalSection">
        @foreach (var other in Model.Where(other => other.Species == "Other"))
        {
            <div class="col-md-6 col-lg-4">
                <a href="#@other.Name" class="ZooAnimal" onclick="AnimalModal(@other.AnimalID)">
                    <img class="StandardImage" src="~/images/animal/@other.ImageMain" alt="@other.ImageMainAlt">
                    <h3 class="AnimalName">@other.Name</h3>
                </a>
            </div>
        }
    </div>
</div>

<!-- Modal -->
<div id="AnimalModal"></div>

@section Scripts {
    <script>
        function AnimalModal(animalID) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("AnimalDetail", "Zoo")',
                data: { animalID: animalID },
                contentType: "application/json; charset=utf-8",
                success: function(result){
                    $("#AnimalModal").html(result);
                    $("#AnimalDetailModal").addClass('fade');
                    $("#AnimalDetailModal").modal('toggle');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('Error :' + XMLHttpRequest.responseText)
                }
            });
        };
    </script>
}
